.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.countryGrid {
  display: grid;
   
    grid-template-columns: 250px 250px 250px 250px 250px 250px;
  gap: 10px;
}

.countryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.countryCard img {
  width: 100px;
  height: 70px;
  object-fit: cover;
}

.countryCard p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
